:root{
	/* size and section */
	--width: 100%;
	--height: auto;
	/* global border elements */
	--border: #f8c solid 2px;
	/* game content */
	--content-background-color: #111;
	--content-text-color: #ccc;
	--content-gap-and-padding: 10px;
	--content-description-height: 0%;
	--content-description-hover-height: 100%;
	/* game content buttons */
	--content-button-back-color: #111;
}

@keyframes content-scale{
    from{scale: relative; height: 100%;}
	to	{scale: relative; height: 150%;}
}

@keyframes content-description-scale{
	from{scale: relative; height: var(--content-description-height);}
	to	{scale: relative; height: var(--content-description-hover-height);}
}

main {
	grid-column: 1/1;
	grid-row: 2/2;
	padding: var(--content-gap-and-padding);
}

main h2.title{
    width: var(--width);
    border-bottom: var(--border);
    font-size: 32px;
    font-style: italic;
    font-weight: 200;
}

main .description{
    padding: 100px;
    font-size: 24px;
    background-color: #111;
    border-radius: 10px;
}

main .content-placeholder{
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
	align-items: flex-start;
    gap: var(--content-gap-and-padding);
}

main .content{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: fit-content 30px 20px 10px min-content;
	min-width: 300px;
	max-width: 500px;
	background-color: var(--content-background-color);
	color: var(--content-text-color);
	border-radius: 10px;
	padding: var(--content-gap-and-padding);
	gap: var(--content-gap-and-padding);
}

main .content:hover{
	height: max-content;
}

main .content-banner{
	grid-column: 1/span 2;
	grid-row: 1/1;
	background-color: var(--content-background-color);
	border-radius: 10px 10px 0% 0%;
}

main .content-title{
	grid-column: 1/1;
	grid-row: 2/2;
}

main .content-author{
	grid-column: 1/1;
	grid-row: 3/3;
}

main .content-population{
	grid-column: 1/1;
	grid-row: 4/4;
}

main .content-button{
	grid-column: 2/2;
	grid-row: 3/span 4;
}

main .content-description{
	grid-column: 1/span 2;
	grid-row: 5/5;
	height: 0%;
	overflow: hidden;
}

main .content:hover .content-description{
	animation-name: content-description-scale;
	animation-duration: 0.5s;
	--content-description-height: 100%;
}