:root {
	/* size and section */
	--width: 100%;
	--height: auto;
	/* global border elements */
	--border: #f8c solid 2px;
	/* game content */
	--content-background-color: #111;
	--content-text-color: #ccc;
	--padding-and-gap: 10px;
	--content-description-height: 0%;
	--content-description-hover-height: 100%;
	--content-corner-curvature: 10px;
	/* game content buttons */
	--button-back-color: var(--content-background-color);
	--button-back-color-hover: #000;
	--button-text-color: var(--content-text-color);
	--button-text-color-hover: #fff;
	--button-border: 2px solid #222;
	--button-border-hover: 2px solid #f8c;
	--button-padding: 10px 20px;
	--button-corner-curvature: 40px;
}

@keyframes grow {
	from {height: 0%;}
	to   {height: 100%;}
}

@keyframes content-grow {
	from {height: min-content;}
	to	 {height: 100%;}
}

main {
	grid-column: 1/1;
	grid-row: 2/2;
	padding: var(--padding-and-gap);
}

main h2.title {
	width: var(--width);
	border-bottom: var(--border);
	font-size: 32px;
	font-style: italic;
	font-weight: 200;
}

main .description {
	padding: 100px;
	font-size: 24px;
	background-color: #111;
	border-radius: 10px;
	margin: 0 0 var(--padding-and-gap) 0;
}

main .content-placeholder {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	gap: var(--padding-and-gap);
}

main .content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, auto);
	gap: var(--padding-and-gap);
	width: 400px;
	background-color: var(--content-background-color);
	color: var(--content-text-color);
	border-radius: var(--content-corner-curvature);
}

main .content img {
	grid-column: 1/span 2;
	grid-row: 1/1;
	position: relative;
	width: 100%;
	/*height: 200px;*/
	object-fit: fill;

}

main .content-stats {
	grid-column: 1/span 2;
	grid-row: 2/span 3;
	display: flex;
	flex-flow: column wrap;
	padding-left: var(--padding-and-gap);
}

main .content-stats .content-title {
	font-size: 24px;
	font-weight: 300px;
}

main .content-button {
	grid-column: 2/2;
	grid-row: 3/3;
	margin: auto auto;
	background-color: var(--button-back-color);
	color: var(--button-text-color);
	border: var(--button-border);
	padding: var(--button-padding);
	border-radius: var(--button-corner-curvature);
	font-family: 'Space Grotesk', 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
	text-decoration: none;
}

main .content-button:hover {
	background-color: var(--button-back-color-hover);
	color: var(--button-text-color-hover);
	border: var(--button-border-hover);
}

main .content-description {
	grid-column: 1/span 2;
	grid-row: 4/4;
	padding: 0 var(--padding-and-gap) var(--padding-and-gap) var(--padding-and-gap);
	text-align: justify;
	font-size: 12px;
	overflow: hidden;
	height: 0%;
	margin: 0 0 auto 0;
}

main .content:hover .content-description {
	-webkit-animation-name: grow;
	animation-name: grow;
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
	height: 100%;
}