:root{
    --padding: 10px;
    --width: 100%;
    --border: 2px #c8f solid;
    --container-color: #111;
    --container-color-hover: #102;
    --container-border: 2px #222 solid;
    --container-border-hover: 2px #204 solid;
    --container-gap: var(--padding);
}

main {
    display: flex;
    flex-flow: column wrap;
}

@media (min-width: 500px) {
    .landing-section{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    }

    .landing-section img{
        grid-column: 1/1;
        border-radius: var(--padding);
        /*filter: blur(var(--padding));*/
        object-fit: cover;
        width: var(--width);
        height: 100%;
    }

    /*
    .landing-section img:hover{
        filter: none;
    }
    */

    .landing-section .main-text{
        grid-column: 2/2;
    }
}

@media (max-width: 499px) {
    .landing-section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-columns: repeat(auto-fit);
    }
    .landing-section img{
        width: 97%;
        object-fit: cover;
        border-radius: var(--container-gap);
    }
}

.landing-section .main-text{
    font-size: 24px;
    font-style: italic;
    text-align: left;
    padding: 8%;
    border-radius: var(--padding);
}

.services{
    width: var(--width);
    padding: 0;
    margin: 0;
}

.services .service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-template-rows: fit-content;
    gap: var(--container-gap);
    list-style-type: none;
    padding: 0;
}

.services .service-list li ul{
    background-color: var(--container-color-hover);
    padding: var(--padding);
    border-radius: var(--container-gap);
    list-style-type: none;
}

.services .service-list li:hover ul{
    background-color: #408;
}

.trending,.categories{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-template-rows: repeat(auto-fit);
    gap: var(--container-gap);
}

.content{
    padding: var(--padding);
    gap: var(--container-gap);
    width: fit-content;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 110px auto 50px 100px;
    border: var(--container-border);
    border-radius: var(--container-gap);
    background-color: var(--container-color);
}

.content:hover{
    border: var(--container-border-hover);
    background-color: var(--container-color-hover);
}

.content .icon{
    grid-column: 1;
    grid-row: 1/span 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .title{
    grid-column: 2;
    grid-row: 1;
    font-size: 24px;
}

.content .author{
    grid-column: 2;
    grid-row: 2;
    font-size: 16px;
}

.content .featured{
    grid-column: 2;
    grid-row: 2;
    font-size: 14px;
}

.content .button{
    grid-column: 2;
    grid-row: 3;
    margin: auto;
    padding: auto;
}

.content .description{
    grid-column: 1/span 2;
    grid-row: 4;
    margin-top: var(--padding);
    font-size: 16px;
    overflow: scroll;
}