:root{
    --padding: 10px;
    --square-grid-size: repeat(2,1fr);
    --width: 100%;
    --border: 2px #c8f solid;
    --container-color: #111;
    --container-color-hover: #102;
    --container-border: 2px #222 solid;
    --container-border-hover: 2px #204 solid;
    --container-gap: var(--padding);
}

main {
    grid-column: 1/1;
    grid-row: 2/2;
    padding: var(--padding);
    display: flex;
    flex-flow: row wrap;
    margin-top: auto;
}

main h2.title{
    padding-left: var(--padding);
    border-bottom: var(--border);
    font-size: 32px;
    font-style: italic;
    font-weight: 200;
}

main section.privilege-table{
    display: flex;
    flex-flow: column wrap;
}

section.privilege-table table{
    margin: 0 auto;
}

.landing-section{
    display: flex;
    flex-flow: row wrap;
    background-color: #408;
    background-image: url(../img/landing-images/carl-raw-m3hn2Kn5Bns-unsplash.jpg);
    background-position: 50% 50%;
}

.landing-section div.blur-effect{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: var(--padding);
    background-color: #0004;
    backdrop-filter: blur(var(--padding));
}

.landing-section div.blur-effect:hover{
    backdrop-filter: none;
}

.landing-section .main-text{
    font-size: 24px;
    font-style: italic;
    text-align: left;
    padding: 8%;
    border-radius: var(--padding);
}

.services{
    width: var(--width);
    padding: 0;
    margin: 0;
}

.services .service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-template-rows: min-content;
    gap: var(--container-gap);
    list-style-type: none;
    padding: 0;
}

.services .service-list li ul{
    background-color: var(--container-color-hover);
    padding: var(--padding);
    border-radius: var(--container-gap);
    list-style-type: none;
}

.services .service-list li:hover ul{
    background-color: #408;
}

.trending,.categories{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    /*grid-template-rows: repeat(auto-fit,minmax(300px,1fr));*/
    overflow: scroll;
    gap: var(--container-gap);
}

.game{
    padding: var(--padding);
    width: fit-content;
    display: grid;
    grid-template-columns: var(--square-grid-size);
    grid-template-rows: 1fr 1fr 50px 3fr;
    border: var(--container-border);
    border-radius: var(--container-gap);
    background-color: var(--container-color);
}

.game:hover{
    border: var(--container-border-hover);
    background-color: var(--container-color-hover);
}

.game .icon{
    grid-column: 1;
    grid-row: 1/span 3;
}

.game .title{
    grid-column: 2;
    grid-row: 1;
    font-size: 24px;
}

.game .author{
    grid-column: 2;
    grid-row: 2;
    font-size: 16px;
}

.game .button{
    grid-column: 2;
    grid-row: 3;
}

.game .description{
    grid-column: 1/span 2;
    grid-row: 4;
    margin-top: var(--padding);
}
