:root{
    --text-color: #ccc;
    --back-color: #000;
    --bar-color: #111;
    --navbar-background-color: #000;
    --button-color: #111;
    --button-color-hover: #000;
    --button-border: 2px solid #222;
    --button-border-hover: 2px solid #f8c;
    --link-color: #c8f;
    --link-color-hover: #000;
    --link-back-color: #0000;
    --link-back-color-hover: var(--link-color);
    --title-color: #c8f;
    --title-border: 2px solid #c8f;
    --webpage-width: 100%;
    --padding-and-gap: 10px;
    --padding-and-side-gap: 20px;
}

@keyframes move{
    from{
        border: var(--button-border);
        background-color: var(--button-color);
    }
    to{
        border: var(--button-border-hover);
        background-color: var(--button-color-hover);
    }
}

body {
    color: var(--text-color);
    background-color: var(--back-color);
    display: grid;
    grid-template-columns: 5fr;
    grid-template-rows: 200px 3fr auto;
    margin: 0px;
    max-width: var(--webpage-width);
    font-family: "Source Code Pro",'Courier New', Courier, monospace;
}

header{
    grid-column: 1/1;
    grid-row: 1/1;
    z-index: 1;
    display: flex;
    flex-flow: column wrap;
    position: fixed;
    width: var(--webpage-width);
}

#title-bar{
    background-color: var(--bar-color);
    color: var(--text-color);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    height: 120px;
}

#title-bar img{
    size: 100px;
    padding: var(--padding-and-gap);
}

#title-bar .title{
    font-size: 32px;
    font-weight: 300;
    color: var(--title-color);
    text-align: center;
    grid-column: 2/2;
    padding: var(--padding-and-gap);
    margin: auto;
}

#title-bar .button{
    grid-column: 3/3;
    margin: auto auto;
}

#navbar{
    display: flex;
    flex-flow: row wrap;
    padding: var(--padding-and-gap);
    justify-content: center;
    gap: var(--padding-and-gap);
    background-color: var(--navbar-background-color);
}

main {
    grid-column: 1/1;
    grid-row: 2/2;
    padding: var(--padding-and-gap);
}

main h2.title {
    width: var(--width);
    border-bottom: var(--title-border);
    font-size: 32px;
    font-style: italic;
    font-weight: 200;
}

.button{
    background-color: var(--button-color);
    color: var(--text-color);
    padding: var(--padding-and-gap);
    padding-left: var(--padding-and-side-gap);
    padding-right: var(--padding-and-side-gap);
    border: var(--button-border);
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    font-family: 'Space Grotesk','Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    size: fit-content;
}

.button:hover{
    background-color: var(--button-color-hover);
    color: var(--button-text-color);
    border: var(--button-border-hover);
    animation-duration: 250ms;
    animation-name: move;
    -webkit-animation-duration: 250ms;
    -webkit-animation-name: move;
}

footer{
    grid-column: 1/1;
    grid-row: 3/3;
    background-color: var(--bar-color);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    bottom: 0%;
    padding: 10px;
}

footer div{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

footer div#socials{
    grid-column: 1/1;
}

footer div#terms{
    grid-column: 2/2;
}

footer div#copyright {
    grid-column: 1/snap 2;
    text-align: center;
    padding: 0 auto;
}

div a {
    grid-column: 1/1;
    background-color: var(--link-back-color);
    color: var(--link-color);
    text-align: center;
    padding: var(--padding-and-gap) var(--padding-and-side-gap);
    gap: var(--padding-and-gap);
    border-radius: var(--padding-and-gap);
    text-decoration: none;
}

div a:hover {
    background-color: var(--link-back-color-hover);
    color: var(--link-color-hover);
}