:root {
    --padding-curvature-and-gap: 10px;
    --color-1: #f8c;
    --color-2: #c8f;
    --content-color: #111;
    --button-color: #111;
    --button-color-hover: #000;
    --button-border: 2px solid #222;
    --button-border-hover: 2px solid var(--color-1);
    --button-padding: 10px 20px;
    --form-width: 400px;
    --form-height: fit-content;
}

body{
    grid-template-rows: 100px 1fr auto;
}

main {
    background-image: url(../img/log-in/login-image.png);
    background-position: 50% 50%;
    /*background-color is used as a fallback if the image doesn't load*/
    background-color: #c8f;
    margin: 0;
    padding: 0;
    height: 100vh;
}

main div.blur-effect{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff2;
    backdrop-filter: blur(20px);
}

main .form-container{
    background-color: var(--content-color);
    padding: var(--padding-curvature-and-gap);
    border-radius: var(--padding-curvature-and-gap);
    box-shadow: 0 4px 10px #fff2;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.form-container .form-group{
    margin: var(--padding-curvature-and-gap);
}

.form-group label{
    display: block;
    margin-bottom: var(--padding-curvature-and-gap);
    color: var(--color-2);
}

.form-group input{
    width: 94%;
    padding: var(--padding-curvature-and-gap);
    border: var(--button-border);
    border-radius: var(--padding-curvature-and-gap);
    font-size: 14px;
    background-color: var(--button-color-hover);
    color: #fff;
}
